In [76]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/loan_approval_dataset - Copy.csv')
df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [77]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [78]:
df.tail()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [79]:
df.dtypes

loan_id                       int64
 no_of_dependents             int64
 education                   object
 self_employed               object
 income_annum                 int64
 loan_amount                  int64
 loan_term                    int64
 cibil_score                  int64
 residential_assets_value     int64
 commercial_assets_value      int64
 luxury_assets_value          int64
 bank_asset_value             int64
 loan_status                 object
dtype: object

In [80]:
df.isna().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

In [81]:
df.shape

(4269, 13)

In [82]:
df=df.drop('loan_id',axis=1)

In [83]:
x=df.iloc[:,:-1]
x

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
0,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000
1,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000
2,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000
3,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000
4,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000
...,...,...,...,...,...,...,...,...,...,...,...
4264,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000
4265,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000
4266,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000
4267,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000
4268,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000

In [85]:
y=df.iloc[:,-1]
y

0        Approved
1        Rejected
2        Rejected
3        Rejected
4        Rejected
          ...
4264     Rejected
4265     Approved
4266     Rejected
4267     Approved
4268     Approved
Name:  loan_status, Length: 4269, dtype: object

In [94]:
from sklearn.preprocessing import LabelEncoder
for i in x.columns:
  if x[i].dtype=='object':
    le=LabelEncoder()
    x[i]=le.fit_transform(x[i])
x

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
0,2,0,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000
1,0,1,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000
2,3,0,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000
3,3,0,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000
4,5,1,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000
...,...,...,...,...,...,...,...,...,...,...,...
4264,5,0,1,1000000,2300000,12,317,2800000,500000,3300000,800000
4265,0,1,1,3300000,11300000,20,559,4200000,2900000,11000000,1900000
4266,2,1,0,6500000,23900000,18,457,1200000,12400000,18100000,7300000
4267,1,1,0,4100000,12800000,8,780,8200000,700000,14100000,5800000
4268,1,0,0,9200000,29700000,10,607,17800000,11800000,35700000,12000000

In [87]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [88]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(x_train)
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [89]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
y_pred

array([' Rejected', ' Rejected', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Rejected',
       ' Rejected', ' Rejected', ' Approved', ' Rejected', ' Rejected',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Rejected', ' Rejected', ' Rejected', ' Approved',
       ' Rejected', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Rejected', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Approved', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Rejected', ' Rejected', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Rejected', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Rejected', ' Rejected', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Rejected', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Rejected', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Rejected', ' Rejected', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Rejected', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Rejected', ' Approved', ' Rejected', ' Rejected', ' Approved',
       ' Rejected', ' Rejected', ' Rejected', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Rejected', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Rejected',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Rejected', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Rejected', ' Rejected', ' Approved', ' Approved',
       ' Rejected', ' Rejected', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Rejected', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Rejected', ' Rejected', ' Rejected', ' Rejected', ' Approved',
       ' Rejected', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Rejected', ' Approved', ' Rejected',
       ' Rejected', ' Rejected', ' Approved', ' Approved', ' Rejected',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Rejected', ' Rejected', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Rejected', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Rejected', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Rejected', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Rejected', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Rejected', ' Rejected', ' Approved', ' Rejected',
       ' Rejected', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Rejected', ' Rejected',
       ' Rejected', ' Rejected', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Rejected',
       ' Rejected', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Rejected',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Rejected', ' Rejected',
       ' Rejected', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Approved', ' Rejected', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Rejected', ' Rejected', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Rejected', ' Rejected', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Rejected', ' Rejected', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Rejected', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Rejected', ' Rejected', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Approved', ' Rejected', ' Rejected', ' Approved',
       ' Rejected', ' Rejected', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Rejected',
       ' Rejected', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Rejected', ' Rejected', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Rejected',
       ' Rejected', ' Rejected', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Approved', ' Approved',
       ' Rejected', ' Approved', ' Approved', ' Approved', ' Rejected',
       ' Approved', ' Rejected', ' Rejected', ' Rejected', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Rejected',
       ' Approved', ' Approved', ' Approved', ' Rejected', ' Approved',
       ' Approved', ' Rejected', ' Approved', ' Approved', ' Rejected',
       ' Rejected', ' Approved', ' Rejected', ' Approved', ' Approved',
       ' Approved', ' Approved', ' Approved', ' Approved'], dtype=object)

In [90]:
y_test

2740     Rejected
1123     Rejected
3626     Rejected
1808     Approved
1143     Approved
          ...
3698     Approved
318      Approved
787      Approved
2614     Approved
4208     Approved
Name:  loan_status, Length: 854, dtype: object

In [91]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
cm

array([[478,  43],
       [ 53, 280]])

In [92]:
score=accuracy_score(y_test,y_pred)
score

0.8875878220140515

In [95]:
print(knn.predict(sc.transform([[5,0,1,9200000,29700000,12,365,18200000,2200000,29400000,5800000]])))

[' Rejected']

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(